--
-- PostgreSQL database dump
--

\restrict FwkvDYuZ26K8iV6HV4F2vmGf7P5BE4CRdl2pnDcVRZof5tVmhlDwrWAkSLhuzq6

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: weather_user
--

CREATE TABLE public.alerts (
    id integer NOT NULL,
    source text,
    severity text,
    region text,
    summary text,
    details jsonb,
    notify_sent boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.alerts OWNER TO weather_user;

--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: weather_user
--

CREATE SEQUENCE public.alerts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alerts_id_seq OWNER TO weather_user;

--
-- Name: alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: weather_user
--

ALTER SEQUENCE public.alerts_id_seq OWNED BY public.alerts.id;


--
-- Name: embeddings; Type: TABLE; Schema: public; Owner: weather_user
--

CREATE TABLE public.embeddings (
    id integer NOT NULL,
    object_id text,
    object_type text,
    model text,
    vector real[],
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now(),
    vec public.vector(8)
);


ALTER TABLE public.embeddings OWNER TO weather_user;

--
-- Name: embeddings_id_seq; Type: SEQUENCE; Schema: public; Owner: weather_user
--

CREATE SEQUENCE public.embeddings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.embeddings_id_seq OWNER TO weather_user;

--
-- Name: embeddings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: weather_user
--

ALTER SEQUENCE public.embeddings_id_seq OWNED BY public.embeddings.id;


--
-- Name: tasks; Type: TABLE; Schema: public; Owner: weather_user
--

CREATE TABLE public.tasks (
    id integer NOT NULL,
    external_id text,
    parent_task_id integer,
    requester text,
    target_agent text,
    type text NOT NULL,
    state text DEFAULT 'pending'::text NOT NULL,
    priority integer DEFAULT 50,
    payload jsonb,
    result jsonb,
    error text,
    created_at timestamp with time zone DEFAULT now(),
    started_at timestamp with time zone,
    finished_at timestamp with time zone
);


ALTER TABLE public.tasks OWNER TO weather_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: weather_user
--

CREATE SEQUENCE public.tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_id_seq OWNER TO weather_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: weather_user
--

ALTER SEQUENCE public.tasks_id_seq OWNED BY public.tasks.id;


--
-- Name: weather_events; Type: TABLE; Schema: public; Owner: weather_user
--

CREATE TABLE public.weather_events (
    id integer NOT NULL,
    region text,
    source text,
    ts timestamp with time zone,
    temp_c real,
    wind_kph real,
    precip_mm real,
    conditions text,
    raw jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.weather_events OWNER TO weather_user;

--
-- Name: weather_events_id_seq; Type: SEQUENCE; Schema: public; Owner: weather_user
--

CREATE SEQUENCE public.weather_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.weather_events_id_seq OWNER TO weather_user;

--
-- Name: weather_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: weather_user
--

ALTER SEQUENCE public.weather_events_id_seq OWNED BY public.weather_events.id;


--
-- Name: alerts id; Type: DEFAULT; Schema: public; Owner: weather_user
--

ALTER TABLE ONLY public.alerts ALTER COLUMN id SET DEFAULT nextval('public.alerts_id_seq'::regclass);


--
-- Name: embeddings id; Type: DEFAULT; Schema: public; Owner: weather_user
--

ALTER TABLE ONLY public.embeddings ALTER COLUMN id SET DEFAULT nextval('public.embeddings_id_seq'::regclass);


--
-- Name: tasks id; Type: DEFAULT; Schema: public; Owner: weather_user
--

ALTER TABLE ONLY public.tasks ALTER COLUMN id SET DEFAULT nextval('public.tasks_id_seq'::regclass);


--
-- Name: weather_events id; Type: DEFAULT; Schema: public; Owner: weather_user
--

ALTER TABLE ONLY public.weather_events ALTER COLUMN id SET DEFAULT nextval('public.weather_events_id_seq'::regclass);


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: weather_user
--

COPY public.alerts (id, source, severity, region, summary, details, notify_sent, created_at) FROM stdin;
\.


--
-- Data for Name: embeddings; Type: TABLE DATA; Schema: public; Owner: weather_user
--

COPY public.embeddings (id, object_id, object_type, model, vector, metadata, created_at, vec) FROM stdin;
1	3	weather_event	dummy	{0,0,0,0,0,0,0,0}	{"lat": 12.9716, "lon": 77.5946}	2025-09-05 05:02:29.562377+00	\N
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: weather_user
--



--
-- Data for Name: weather_events; Type: TABLE DATA; Schema: public; Owner: weather_user
--



--
-- Name: alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: weather_user
--

SELECT pg_catalog.setval('public.alerts_id_seq', 1, false);


--
-- Name: embeddings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: weather_user
--

SELECT pg_catalog.setval('public.embeddings_id_seq', 1, true);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: weather_user
--

SELECT pg_catalog.setval('public.tasks_id_seq', 6, true);


--
-- Name: weather_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: weather_user
--

SELECT pg_catalog.setval('public.weather_events_id_seq', 3, true);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: weather_user
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: embeddings embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: weather_user
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: weather_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: weather_events weather_events_pkey; Type: CONSTRAINT; Schema: public; Owner: weather_user
--

ALTER TABLE ONLY public.weather_events
    ADD CONSTRAINT weather_events_pkey PRIMARY KEY (id);


--
-- Name: idx_embeddings_object; Type: INDEX; Schema: public; Owner: weather_user
--

CREATE INDEX idx_embeddings_object ON public.embeddings USING btree (object_type, object_id);


--
-- Name: idx_tasks_state; Type: INDEX; Schema: public; Owner: weather_user
--

CREATE INDEX idx_tasks_state ON public.tasks USING btree (state);


--
-- Name: tasks tasks_parent_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weather_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_parent_task_id_fkey FOREIGN KEY (parent_task_id) REFERENCES public.tasks(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict FwkvDYuZ26K8iV6HV4F2vmGf7P5BE4CRdl2pnDcVRZof5tVmhlDwrWAkSLhuzq6

